#o-que-e-obesidade {
  background-color: $corSecundaria;
  padding: 70px;
  margin-top: 80px;

  .container {
    .row {
      .col-md-5 {
        &:before {
          content: '';
          width: 47vw;
          height: 100vh;
          top: -80px;
          position: absolute;
          background-color: #fff;
          right: 20%;
          z-index: 0;
        }

        img {
          &.secoes-alternadas {
            z-index: 1;
            position: relative;
            height: 100%;
          }
        }
      }

      .col-md-7 {
        p {
          color: $corBranca;
        }
      }
    }
  }
}

#dr-na-midia {
  background-color: $corSecundaria;
  padding: 70px;
  margin: 80px 0;

  .container {
    .row {
      .col-md-5 {
        &:before {
          content: '';
          width: 47vw;
          height: 100vh;
          top: -80px;
          position: absolute;
          background-color: #fff;
          left: 20%;
          z-index: 0;
        }

        img {
          &.secoes-alternadas {
            z-index: 1;
            position: relative;
            height: 100%;
          }
        }
      }

      .col-md-7 {
        p {
          color: $corBranca;
        }
      }
    }
  }
}

#conheca-o-doutor {
  position: relative;
  margin-top: 240px;

  .conheca-o-dr-bg {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .container {
    bottom: 90px;
    position: relative;
  }

  .row {

  }
}

//Seção Tratamentos Cirúrgicos
#tratamentos-cirurgicos-home {
  padding: 80px 0;

  a {

    h5 {
      min-height: 36px;
      transition: $transicaoPadrao;
    }

    &:hover {
      text-decoration: none;

      h5 {
        color: $corSecundaria !important;
      }
    }
  }

  .container {
    .row {

    }

  }

  .tratamentos-cirurgicos-carousel {
    .owl-prev {
      left: 0;
      position: absolute;
    }

    .owl-nav {
      position: absolute;
      top: 18%;
      opacity: 0;
      transition: all .3s ease;
      width: 106%;
      left: -3%;


      button {
        background: #fff !important;
        width: 45px;
        height: 45px;
        border-radius: 50px !important;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        transition: $transicaoPadrao;


        &:hover {
          background-color: $corPrimaria !important;
        }
      }
    }

    .owl-next {
      right: 0;
      position: absolute;
    }

    &:hover {
      .owl-nav {
        opacity: 1;
      }
    }

    .item {
      a {
        &.img-link {
          position: relative;
          display: block;

          .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 102, 148, .6);
            position: absolute;
            top: -100%;
            left: 0;
            transition: $transicaoPadrao;

            svg {
              font-size: 40px;
              color: #fff;
            }
          }

          &:hover {
            .overlay {
              top: 0;
            }
          }
        }
      }

    }
  }
}

// Seção Depoimentos

#depoimentos {
  height: 690px;

  .container {
    .depoimentos-carousel {

      .baloon {
        background: rgba(255, 255, 255, 0.36);
        display: block;
        padding: 25px;
        border-radius: 5px;
        position: relative;

        p{
          font-weight: 500;
        }

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid rgba(255, 255, 255, 0.36) !important;
          position: absolute;
          bottom: -7px;
        }
      }

      h5 {
        font-weight: 400;
        text-transform: uppercase;
      }

      &.owl-theme {
        .owl-dots {
          .owl-dot {
            span {
              width: 16px;
              height: 16px;
              border: 2px solid $corBranca;
              background: transparent;
              margin: 5px 5px;
              transition: $transicaoPadrao;
            }

            &.active {
              span {
                background: $corBranca;
              }
            }
          }
        }
      }
    }
  }
}