footer {
  background: #d9d9d9;
  position: relative;
  padding: 100px 0 10px 0 !important;
  margin-top: 0;

  .wrapper-footer {
    z-index: 1;
    position: relative;
  }

  .logo-footer {
    img {
      width: auto;
      margin-bottom: 2rem;
    }
  }

  .texto-footer {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #4a4a4a;
  }

  .cerfificacoes-footer {
    img {
      width: 60px;
    }
  }

  h4 {
    font-size: 1.3rem !important;
    color: #000 !important;
  }

  .links-uteis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    .menu-links-uteis-container {
      ul {
        list-style: none;
        padding: 0;

        li {
          a {
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: #4a4a4a;
            transition: $transicaoPadrao;

            &:hover {
              color: $corPrimaria;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: $corBranca;
    font-size: 0.79rem;

    span {
      font-size: 1rem;
      color: $corPrimaria;
      font-weight: $semiBold;

      a {
        color: $corPrimaria;
        transition: all .2s ease-in-out;

        &:hover {
          color: $corSecundaria;
          text-decoration: none;
        }

      }
    }

    .row-enderecos {
      svg {
        top: 3px !important;
        position: relative !important;
      }

      .box-endereco {
        span {
          line-height: 1.4rem;
        }
      }
    }

    .icon-wrapper {
      background-color: var(--corPrimaria);
      border-radius: 50%;
      height: 28px !important;
      width: 28px !important;
      display: inline-block !important;
      position: relative;
      top: 8px;
      margin-right: 8px;

      svg {
        position: absolute;
        top: 50%;
        font-size: 16px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $corBranca;
      }
    }

    .endereco {
      .icon-wrapper {
        width: 33px !important;
        margin-right: 10px;
      }
    }
  }

  .fundo-footer {
    left: 80%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 60%;
  }

  .footer-copyright-content {
    margin-top: 20px;

    .row {

      #redes-sociais {
        a {
          margin: 0 2px;
          background-color: #252525;
          width: 28px !important;
          height: 28px;
          border-radius: 50%;
          position: relative;
          color: #000;
          display: inline-block;
          text-align: center;
          top: 3px;
          border: 1px solid $corSecundaria;
          transition: $transicaoPadrao;

          svg {
            color: #0c0c0c;
            transition: $transicaoPadrao;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            font-size: 20px;
          }

          &:hover {
            background: $corPrimaria;

            svg {
              color: $corSecundaria;
            }
          }
        }
      }

      a {

        &:hover {
          .logo-cia {
            opacity: 1;
            filter: brightness(0.2);
          }
        }

        .logo-cia {
          width: 80px !important;
          opacity: 0.6;
          filter: brightness(0.6);
          transition: $transicaoPadrao;
        }
      }

      span {
        color: #4a4a4a;
      }
    }
  }

  .cert-footer {
    width: auto;
  }

  .certificados:before {
    content: '';
    width: 2px;
    height: 100px;
    position: absolute;
    top: -10px;
    background-color: #000;
  }

  .redes-sociais {
    a {
      background-color: var(--corPrimaria);
      width: 28px !important;
      height: 28px;
      border-radius: 50%;
      position: relative;
      color: var(--corSecundaria);
      display: inline-block;
      text-align: center;
      top: 3px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--corSecundaria);
      }

      svg {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        color: #d9d9d9;
        font-size: 20px;
      }
    }

  }

  .endereco {
    display: inherit;

    svg {
      display: inline-block;
    }
  }
}

