#navbarWapper {
  position: absolute;
  width: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.55);
}

#menuPrimario {

  a {
    text-decoration: none;
    color: $corPrimaria;
    transition: all .2s ease-in-out;
    font-weight: $semiBold;

    &:hover {
      color: $corSecundaria;
    }
  }

  span {
    color: $corBranca;
    font-weight: 500;

    &.telefone {
      svg {
      }
    }
  }


  .contatos-topbar {
    .icon-wrapper {
      background-color: $corPrimaria;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      display: inline-block;
      position: relative;
      top: 3px;

      svg {
        position: absolute;
        top: 50%;
        font-size: 18px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #c1c1c1;
      }
    }

    a {
      top: -5px;
      position: relative;
    }
  }

  .redes-sociais {
    a {
      background-color: $corPrimaria;
      width: 28px !important;
      height: 28px;
      border-radius: 50%;
      position: relative;
      color: $corSecundaria;
      display: inline-block;
      text-align: center;
      top: 3px;
      transition: $transicaoPadrao;

      &:hover {
        background-color: $corSecundaria;

        svg {
          color: #c1c1c1;
          transition: $transicaoPadrao;
        }
      }

      svg {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        color: #c1c1c1;
        font-size: 20px;
      }
    }
  }
}


#menu-secundario {
  transition: all .5s ease;

  .container {
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
    border-bottom: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .navbar-brand {
    img {
      object-fit: contain;
    }
  }

  ul {
    li {
      margin: 0 15px;

      .dropdown-menu {
        border: none;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }

      a.nav-link {
        font-family: $regular;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2px;
        color: $corBranca;
        transition: all .2s ease-in-out;
        font-size: 1rem;
        font-weight: $medium;

        &:hover {
          color: $corPrimaria;
        }

        &.dropdown-toggle {
          &:after {
            border: solid #fff;
            border-width: 0px 0px 2px 2px;
            display: inline-block;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            content: "";
            position: absolute;
            right: -13px;
            bottom: 12px;
            width: 7px;
            height: 7px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    li.active > a,
    li.current-menu-item > a {
      color: $corPrimaria !important;
    }

    li.show {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
  }

  &.fixed-top {
    position: fixed !important;
  }

  &.menu_sticky {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);
    background: $corBranca !important;


    .btn-primario {
      background: $corSecundaria;

      &:hover {
        background: transparent;
      }
    }

    .btn-secundario {
      &:hover {
        background: $corSecundaria;
      }
    }
  }

  #navbarNav {
    .nav {


    }
  }

}

.dropdown {
  &.menu-item{
    .dropdown-menu {
      position: absolute;
      top: 80%;
      left: 0;
      z-index: 99999;
      visibility: hidden;
      opacity: 0;
      filter: alpha(opacity=0);
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.5s cubic-bezier(0.84, 0.35, 0.39, 0.74);
      transition: all 0.5s cubic-bezier(0.84, 0.35, 0.39, 0.74);
      display: block;
      padding: 0;

      li {
        margin: 0 15px !important;
        border-bottom: 1px solid #e8e8e8;


        &:last-child {
          border: none;
        }

        .dropdown-item {

          color: #fff;
          transition: $transicaoPadrao;
          font-weight: 500;

          &:hover {
            background-color: transparent !important;
            color: $corPrimaria;
          }
        }
      }

    }

    &:hover {
      .dropdown-menu {
        top: 85%;
        visibility: visible !important;
        opacity: 1 !important;
        filter: alpha(opacity=100);
        overflow: hidden;
        display: block !important;
      }
    }
  }
}


.mobile-menu-wrapper {
  right: 0;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: scroll;
  min-height: 100%;
  z-index: 9602;
  padding: 30px 30px;
  box-sizing: border-box;
  width: 320px;
  background: $corPrimaria;
  overflow-y: auto;
  transform: translate3d(100%, 0, 0);
  transition: right 0.5s ease;
  padding-top: 70px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;

  &.open {
    right: 320px;
  }

  .contatos-mobile-wrapper {
    display: flex;
    flex-direction: column;

    .icon-wrapper {
      background-color: $corSecundaria;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      display: inline-block;
      position: relative;
      top: 3px;

      svg {
        position: absolute;
        top: 50%;
        font-size: 17px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $corPrimaria;
      }
    }

    a {
      color: #fff;
      top: -5px;
      position: relative;
      margin-left: 5px;
      font-weight: 500;
    }
  }

  .social-mobile-wrapper {
    .redes-sociais {
      a {
        background-color: $corSecundaria;
        width: 28px !important;
        height: 28px;
        border-radius: 50%;
        position: relative;
        color: $corPrimaria;
        display: inline-block;
        text-align: center;
        top: 3px;
        border: 1px solid $corSecundaria;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .btn-primario {
    background: $corSecundaria;
  }

  .mobile-menu {
    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;

      a {
        color: $corBranca;
      }

      &.dropdown {
        &:hover {
          .dropdown-menu {
            display: block;
            height: auto !important;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 0;
          }
        }
      }

      &:last-child {
        border: none;
      }
    }
  }
}

#navbar {
  ul {
    li {
      &:last-child {
        .nav-link {
          border-right: none;
        }
      }

      a {
        color: $corPrimaria !important;
        border-right: 1px solid #fff;
        padding: 0.2rem 0.75rem !important;
        font-weight: $semiBold;
        margin: 0 5px;
        transition: $transicaoPadrao;

        &:hover {
          color: $corSecundaria !important;
          background-color: transparent;
        }

      }

      &.active > a {
        color: $corSecundaria !important;
      }

      .dropdown-menu {
        li {
          padding: 4px 0;
          border-bottom: 1px solid $corBranca;
          margin: 0 10px;

          a {
            margin: 0;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

  }

  &.menu_sticky {
    background-color: $corBranca;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);

    ul {
      li {
        a {
          border-right: 1px solid rgba(17, 35, 61, 0.3);
        }

        &.dropdown{
          .dropdown-menu {
            background-color: rgba(255, 255 ,255, .8);
          }
        }
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: $transicaoPadrao;
      background-color: rgba(255, 255, 255, 0.72);
      border: 0;
      width: 250px;

      li {
        a {
          border: none;
        }
      }
    }

    &:hover {
      .dropdown-menu {
        top: 125%;
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        overflow: hidden;
      }
    }
  }

}

.nav-toggler {
  border: 0;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  position: absolute;
  right: 1rem;
  top: 33px;
  z-index: 9999;
  display: block;

  span {
    width: 28px;
    height: 3px;
    background-color: $corSecundaria;
    display: block;
    transition: .3s;

    &:before {
      width: 28px;
      height: 3px;
      background-color: $corSecundaria;
      display: block;
      transition: .3s;
      content: '';
      transform: translateY(-9px);
    }

    &:after {
      width: 28px;
      height: 3px;
      background-color: $corSecundaria;
      display: block;
      transition: .3s;
      content: '';
      transform: translateY(6px);
    }
  }

  &.toggler-open {
    position: fixed;

    span {
      &:before {
        background: $corBranca;
      }
    }

    span {
      &:after {
        background: $corBranca;
      }
    }
  }

  &#navTogglerFixed {
    position: fixed;
    opacity: 0;
    transition: all .2s ease-in;

    &.toggler-open {
      opacity: 1 !important;
      transition: all .2s ease-in !important;
    }
  }
}

.nav-toggler.toggler-open {
  span {
    background-color: transparent;

    &:before {
      transform: translateY(0px) rotate(45deg);
    }

    &:after {
      transform: translateY(-3px) rotate(-45deg);
    }
  }
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  background-color: rgba(17, 17, 17, 0.5);
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &.open {
    opacity: 1;
    visibility: visible;
    z-index: 9601;
  }
}
