// PADRÕES

@import url('//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variaveis';
@import 'comments.scss';
///@import 'botoes';
@import 'reset';
@import 'theme';
@import "../css/responsive";
@import '../../components/components.scss';

html {
  overflow-x: hidden !important;

  body {
    overflow-x: hidden !important;
    font-size: 0.97em;
    font-weight: 400;
    font-family: $regular;
    position: relative;
    left: 0;
    transition: all .5s ease;
    padding: 0 !important;

    .fw-regular {
      font-weight: $regular !important;
    }

    .fw-medium {
      font-weight: $medium !important;
    }

    .fw-semi-bold {
      font-weight: $semiBold !important;
    }

    .fw-bold {
      font-weight: $bold !important;
    }

    .fw-extra-bold {
      font-weight: $extraBold !important;
    }

    .fw-black {
      font-weight: $black !important;
    }

    .text-primario {
      color: $corPrimaria !important;
    }

    .text-secundario {
      color: $corSecundaria !important;
    }

    .bg-primario {
      background-color: $corPrimaria;
    }

    .bg-secundario {
      background-color: $corSecundaria;
    }
  }
}

.btn-navbar .nav-link {
  background: $corPrimaria;
  padding: 10px 15px !important;
  border-radius: 5px;
  color: #fff !important;
  text-transform: uppercase;
}

nav a.nav-link {
  text-transform: uppercase;
  font-weight: 600 !important;
}

.btn-navbar {
  margin-left: 50px !important;
}

img.attachment-logo.size-logo {
  width: 205px;
  height: auto;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  line-height: 46px !important;
  border-color: #e7e7e7 !important;
}

.search_smart_property h2 span {
  color: $corPrimaria;
}

.owl-carousel .owl-item img {
  width: auto !important;
  margin: 0 auto;
}

a {

  &:hover {
    .logo-cia {
      opacity: 1;
      filter: brightness(1);
    }
  }

  .logo-cia {
    width: 80px !important;
    opacity: 0.6;
    filter: brightness(0.6);
    transition: $transicaoPadrao;
  }
}

.logo-footer img.attachment-logo.size-logo {
  margin: 0 auto;
  display: block;
  width: 260px;
}

.footer_one a.nav-link {
  padding: 0;
}

#redes-sociais a {
  background-color: #d7d7d7;
  margin-right: 5px;
  width: 27px;
  height: 27px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  transition: all .2s ease;
}

#redes-sociais a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #232733;
}

#redes-sociais a:hover {
  background: #fff;
}

.floating-contacts {
  overflow: hidden;
  position: fixed;
  top: 50%;
  right: 50px;
  z-index: 9;
  transform: translate(0, -50%);
  background-color: #956836;
  width: 96px;
  border-radius: 5px;


  a {
    transition: $transicaoPadrao;
    border-bottom: 1px solid #ffdc87;
    display: block;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
      display: block;
    }

    &:last-child {
      border: none;
    }

    .floating-contacts-content {
      padding: 15px;

      h4 {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
      }

      img {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.truncate2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.truncate6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.home-three h5.data-filter-section-title, .home-three .data-filter-section-title {
  display: none;
}

.mdf_search_form {
  display: flex;
}

.mdf_input_container_taxonomies {
  display: flex;
}

.mdf_input_container_block_0, .mdf_input_container_block_2 {
  width: 20%;
}

.mdf_input_container_block_1 {
  width: 50%;
}


.mdf_shortcode_submit_button {
  width: 20%;
}

.chosen-container .mdf_select_emulator_container .dropdown dd ul, .mdf_input_container .mdf_select_emulator_container .dropdown dd ul {
  background: #FFF;
  padding: 8px;
  color: #6d6d6d;
  min-height: 158px;
  z-index: 9999;
  border: 1px solid #aaaaaa;
  top: -1px;
}

.select2-container {
  width: 100% !important;
}

.mdf_input_container_block {
  margin-right: 10px;
}

.mdf_input_container_block {
  margin-right: 10px;
}

.mdf_select_emulator_container .dropdown dt a {
  background-color: #fff !important;
  border: 1px solid #e7e7e7 !important;;
  border-radius: 4px;
  height: 48px !important;
  line-height: 30px !important;
}

.mdf_select_emulator_container .dropdown dt a span, .mdf_select_emulator_container .multiSel span {

  color: #444;
  font-weight: 400;
  font-size: 15px;
}

.home_adv_srch_opt input[type="submit"].mdf_button {
  border-radius: 8px;
  background-color: var(--corPrimaria);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  font-size: 16px;
  font-family: "Nunito";
  color: #ffffff;
  font-weight: bold;
  border: 0;
  padding: 11px;
  width: 100%;
}

.mdf_input_container.mdf_taxonomy_imoveis {
  margin-right: 8px;
}

.mdf_select_emulator_container .dropdown:after {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
  content: '';
  position: absolute;
  right: 10px;
}

span.flaticon-tick {
  color: $corPrimaria !important;
}

.sidebar_feature_listing .media img {
  border-radius: 5px;
}

.text-thm span:nth-child(2):before, .text-thm span:nth-child(3):before, .text-thm span:nth-child(4):before, .text-thm span:nth-child(5):before, .text-thm span:nth-child(6):before, .text-thm span:nth-child(7):before {
  content: "| ";
}

.feat_property.list .dtls_headr ul.tag .comercializacao-tag {
  background: $corSecundaria;
}

.feat_property.list .dtls_headr ul.tag .destaque-tag {
  background: $corPrimaria;
}

.spls_style_one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb a {
  z-index: 1;
}

.feat_property .thumb .thmb_cntnt .icon li {
  z-index: 2;
  position: relative;
}

.details {
  cursor: auto;
}

#breadcrumbs-item a, #breadcrumbs-item span {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1rem;
}


.icon_diferenciais {
  filter: brightness(0.2);
  top: 50%;
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, -50%);
  transition: $transicaoPadrao;
}


.why_chose_us:hover .icon_diferenciais {
  filter: brightness(1);
}

.icon {
  position: relative;
}

.modal-header span {
  font-weight: 500;
  left: -3px;
  top: 3px;
  position: relative;
}

span.wpcf7-not-valid-tip {
  font-size: 12px;
}

img.avatar.avatar-100 {
  width: 40px;
  height: auto;
  border-radius: 50px;
}

.blog_post_container p#breadcrumbs-item span > span {
  color: $corPrimaria !important;
}

.blog_post_container p#breadcrumbs-item, .blog_post_container p#breadcrumbs-item a {
  color: #000 !important;
}

.main_blog_post_content .mbp_thumb_post .blog_sp_tag {
  margin-right: 11px;
  display: inline-block;
}

.blog_post_share li {
  display: inline-block !important;
}

#searchform input {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background-color: #ffffff;
  flex: 1;
  height: 52px;
  padding-left: 20px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-right: none;
}

button#button-addon2 {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  border-left: transparent !important;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  height: 52px;
  left: -4px;
}

img.img-recents-posts.wp-post-image {
  height: auto;
  border-radius: 5px;
}

.title-mais-lidos {
  font-size: 16px;
  font-family: "Nunito";
  color: #484848;
  font-weight: bold;
  line-height: 1.2;
}

.blog-sidebar {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
}

h2.rounded.fw-bold {
  font-size: 18px;
  font-family: "Nunito";
  color: #484848;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 25px;
}

li.cat-item {
  border-radius: 6px;
  background-color: rgb(227, 227, 227);
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  padding: 0px 25px;
  margin-right: 10px;
  display: inline-block;
}

.blog-sidebar ul {
  display: flex;
}

.for_blog.feat_property .tag {
  background-color: $corPrimaria;
  border-radius: 3px;
  color: #fefefe;
  font-family: "Nunito";
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 110px;
}

.post-type-archive-imovel .mdf_search_form, .post-type-archive-imovel .mdf_input_container_taxonomies {
  display: flex !important;
  flex-direction: column !important;
}

.navigation {
  display: none;
}

span.mdf_sort_panel {
  display: none;
}

select.mdf_taxonomy, .mdf_filter_select {
  width: 305px !important;
  background-color: #ffffff;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  font-size: 14px;
  font-family: "Nunito";
  color: #484848;
  line-height: 1.2;
  height: 52px;
  padding-left: 20px;
}

.our-listing input.button.mdf_button {
  border-radius: 8px;
  background-color: var(--corPrimaria);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  font-size: 16px;
  font-family: "Nunito";
  color: #ffffff;
  font-weight: bold;
  border: 0;
  padding: 11px;
  width: 100%;
}

.our-listing .mdf_shortcode_submit_button {
  width: 90%;
}

h4.data-filter-section-title {
  display: none;
}

h5.data-filter-section-title {
  display: none;
}
.our-listing .mdf_input_container_taxonomies, .our-listing .mdf_search_form {
  display: flex;
  flex-direction: column;
}

.sidebar_listing_list h3 {
  font-size: 1.3rem;
}

.mdf_shortcode_container.mdf_shortcode_skin_col1_1 {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  background: none;
}
.mdf_taxonomy_comercializacao {
  margin-top: 25px;
}
.mm-panels #navbarNav {
  position: relative;
  top: 18%;
  transform: translate(0, -50%);
}

.header .link-logo:before, .header .link-logo:after {
  width: 0;
  height: 0;
}

a.link-logo {
  height: 100% !important;
  padding-top: 0 !important;
  top: 0 !important;
  display: block !important;
  width: 100% !important;
  position: relative;
}

.header .link-logo:before, .header .link-logo:after {
  width: 0;
  height: 0;
}

a.link-logo {
  height: 100% !important;
  padding-top: 0 !important;
  top: 0 !important;
  display: block !important;
  width: 100% !important;
  position: relative;
}

.mm-panels .nav-item {
  color: rgba(0,0,0,.75);
  color: var(--mm-color-text);
  border-color: rgba(0,0,0,.1);
  border-color: #ebebeb;
  border-top-style: solid;
  border-width: 1px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav-item:first-child, .nav-item:last-child {
  border-top-width: 0;
}
.mm-panels .btn-navbar {
  margin-left: 0 !important;
  margin-top: 20px;
}
.mm-panels .dropdown.menu-item .dropdown-menu li .dropdown-item {
  color: #333;
}

a.closebtn {
  position: absolute;
  right: 0;
  font-size: 25px;
  background: #000;
  line-height: 18px;
  width: 30px;
  height: 30px;
  color: #fff;
  z-index: 1;
  border-radius: 20px;
  padding: 7px;
}

.mdf_shortcode_container.mdf_shortcode_skin_col1_1 {
  top: 35px;
}

.mdf_shortcode_skin_col1_1 .mdf_widget_found_count {
  display: none;
}

.our-listing .mdf_shortcode_skin_col1_1 .mdf_input_container_taxonomies .mdf_input_container {
  width: 106% !important;
  margin-right: 0 !important;
}
@import 'media-queries.scss';