section {
  &#topo-da-pagina {
    position: relative;

    img {
      height: 100%;
      width: auto;
    }

    .container {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);

      h1 {
        font-size: 2.688rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

        &.single-title {
          font-size: 2.375rem;
        }
      }

      #breadcrumbs {
        span {
          color: $corBranca;
          font-size: 1.15rem;
          font-weight: 500;
          display: flex;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);


          a {
            color: $corBranca;
            margin-right: 5px;
            transition: $transicaoPadrao;

            &:hover {
              text-decoration: none;
              color: $corPrimaria;
            }
          }

          .arrow {
            color: $corPrimaria;
            margin-right: 5px;
          }

          &.breadcrumb_last {
            margin-left: 5px;
          }
        }
      }
    }

  }
}

